<ol class="steps">
  {{#each nodes as |node|}}
  <li data-node-id={{node.id}}>
    <span class="i" {{action 'toggleExpand' node}}>
      <span class="mw"><span class="m">{{node.marker}}</span></span>
      <span class="t">{{node.name}}</span>
    </span>

    <ol>
      {{#each node.children as |child|}}
        <li>
          {{#link-to 'videor.lvl0.lvl2' node.parent.ord child.lvl2Id}}
            <span class="mw"><span class="m">{{child.marker}}</span></span>
            <span class="t">{{child.name}}</span>
          {{/link-to}}
        </li>
      {{/each}}
    </ol>
  </li>
  {{/each}}
</ol>
