<h2>
  {{model.marker}} {{model.name}}
</h2>

{{#each node in model.children}}
  <div class="lvl3">
    <h3>{{node.marker}} {{node.name}}</h3>
    
    {{#each child in node.children}}
      {{component child.componentName node=child}}
    {{/each}}
  </div>
{{/each}}
