<header class="page">
  <h1>{{model.parent.parent.name}}</h1>
</header>

<div class="wrapper-with-sidebar">
  <div class="wrapper-sidebar">
      {{component "node-menu" nodes=model.parent.parent.children}}

      <div class="social">
        <img src="images/social-youtube.svg" alt="YouTube">
        <img src="images/social-facebook.svg" alt="Facebook">
        <img src="images/social-twitter.svg" alt="Twitter">
      </div>
  </div>

  <div class="wrapper-main">
    <h2><span>{{model.marker}}</span> {{model.name}}</h2>

    {{#each node in model.children}}
      {{component node.componentName node=node}}
    {{/each}}
  </div>
</div>
